
.menu{
    background-color: rgb(101, 208, 216);
}

.menu 
{
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(101, 208, 216); 
    color: white; 
    padding: 10px; 
    border-color: rgb(101, 208, 216);
    cursor: pointer;
}


.menu a:hover{
    color:rgb(8, 77, 167);
}

#welcomePage{
    text-align: center;
    font-size: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-image: url('./images/gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-shadow: 5px 5px #FF0000;
    color: white;
}

.button {
    background-color: white;
    border-style: double;
    border-color: #ff0505;
    border-width: 5px;
    color: #ff0505;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button:hover{
    color: white;
    background-color: #ff0505;
    border-style: double;
    border-color: white;
    border-width: 5px;
}

#RegisterPageDiv{
    margin-left: 400px;
    font-size: 20px;
    color: rgb(98, 184, 17);
    font-family: Arial, Helvetica, sans-serif; 
}

input{
    width: 200px;
    padding: 7px;
    margin: 8px 0;
    border: 2px solid rgb(98, 184, 17);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

#regButton{
    background-color: white;
    border-style:solid;
    border-color: rgb(98, 184, 17);
    border-width: 5px;
    color: rgb(98, 184, 17);
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}
#regButton:hover{
    background-color: rgb(98, 184, 17);
    border-style:solid;
    border-color: white;
    border-width: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.error{
	display: none;
	margin-left: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #ec76f0;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(214, 45, 138);
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #6b7260;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }