body{
    height: 100%;
     margin: 0;
}

.menu{
    background-color: rgb(101, 208, 216);
}
.menu 
{
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(101, 208, 216); 
    color: white; 
    padding: 10px; 
    border-color: rgb(101, 208, 216);
    cursor: pointer;
}
.menu a:hover{
    color:rgb(8, 77, 167);
}

#welcomePage{
    text-align: center;
    font-size: 130px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-image: url('./images/gif.gif');
    height: 462px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-shadow: 5px 5px #FF0000;
    color: white;
}

#welcomePage button {
    background-color: white;
    border-style: double;
    border-color: #ff0505;
    border-width: 5px;
    color: #ff0505;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

#welcomePage button:hover{
    color: white;
    background-color: #ff0505;
    border-style: double;
    border-color: white;
    border-width: 5px;
}

#RegisterPageDiv{
    background-image: url('./images/register1.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 980px;
    height: 462px;
    padding-left: 300px;
    padding-top: 20px;

    font-size: 30px;
    color: rgb(29, 66, 170);
    font-family:'Courier New', Courier, monospace; 
}
#RegisterPageDiv span{
    font-size: 30px;
    color: rgb(29, 66, 170);
    font-family:'Courier New', Courier, monospace; 
}

#RegisterPageDiv input{
    width: 200px;
    padding: 7px;
    margin: 8px 0;
    border: 2px solid rgb(29, 66, 170);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

#regButton{
    background-color: white;
    border-style:solid;
    border-color: rgb(29, 66, 170);
    border-width: 3px;
    color: rgb(29, 66, 170);
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}
#regButton:hover{
    background-color: rgb(29, 66, 170);
    border-style:solid;
    border-color: white;
    border-width: 3px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.error{
	display: none;
	margin-left: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #ec76f0;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(214, 45, 138);
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #6b7260;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#loginPageDiv{
    background: linear-gradient( rgba(43, 41, 41, 0.5), rgba(0, 0, 0, 0.5) ),url('./images/login.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 980px;
    height: 415px;
    padding-left: 350px;
    padding-top: 50px;

    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 5px grey;
    font-family:'Courier New', Courier, monospace; 
}

#loginPageDiv input{
    width: 200px;
    padding: 7px;
    margin: 8px 0;
    border: 2px solid rgb(55, 118, 190);
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    font-size: 40px;
}

#logButton{
    background-color: Lte;
    border-style:solid;
    border-color: rgb(55, 118, 190);
    border-width: 3px;
    color: rgb(55, 118, 190);
    text-align: center;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
}
#logButton:hover{
    background-color: rgb(55, 118, 190);
    border-style:solid;
    border-color: white;
    border-width: 3px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
}











footer{
    background-color: rgb(150, 110, 130);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 7px;
}